.order-form {
  display: none;
}

.eachpizza {
  border-top: 1px solid black;
}

.eachpizza-receipt {
  border-top: 1px solid black;
  margin-top: 16px;
}

.eachpizza label.size {
  margin-top: 24px;
}

.receipt {
  display: none;
}

.thankyou {
  display: none;
}
